nav {
  text-align: center;
}

.bienvenue {
  margin-top: 2%;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
  margin: 0;
}

h1 {
  font-size: 6rem;
  margin: 0;
  margin-left: 1%;
  color: #70d7ff;
  letter-spacing: 1.5rem;
}

li {
  list-style-type: none;
  margin: 3%;
}

p {
  text-transform: lowercase;
  font-size: 1.5rem;
  padding: 2%;
  margin-top: 2%;
  color: #70d7ff;
}

.size {
  font-size: 3rem;
}
