.bienvenue {
  margin-top: 2%;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

.navlien {
  font-size: 3rem;
}

h1 {
  text-align: center;
  font-size: 6rem;
}

@media screen and (max-width: 640px) {
  h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
  }

  h1 {
    text-align: center;
    font-size: 4em;
  }

  .selection {
    margin-top: 15%;
    text-align: center;
  }
}
/* 
@media screen and (max-width: 740px) {
  a {
    font-size: 1.5rem;
  }
  .navlien {
    font-size: 2rem;
  }
} */
