.bienvenue {
  margin-top: 2%;
  margin-left: 5%;
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
  margin: 0;
}

.navlien {
  display: inline-block;
  font-size: 3rem;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.ligne {
  border: outset white 0.2px;
  box-shadow: 0px 0px 283px 121px rgba(21, 181, 245, 0.72);
  margin-bottom: 1%;
}

h1 {
  font-size: 6rem;
}

@media screen and (max-width: 640px) {
  h2 {
    margin-right: 2%;
    text-align: center;
    font-size: 3rem;
  }

  h1 {
    text-align: center;
    font-size: 4em;
  }

  #main {
    display: flex;
    flex-direction: column;
  }

  .selection {
    margin-top: 15%;
    text-align: center;
  }
}
/* 
@media screen and (max-width: 740px) {
  a {
    font-size: 1.5rem;
  }
  .navlien {
    font-size: 2rem;
  }
} */
