body {
  min-height: 100vh;
  /* Permet de mettre en bas de la page le footer  */
  display: flex;
  flex-direction: column;
}

nav {
  text-align: center;
}

a {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2.5rem;
}

.logo {
  text-transform: uppercase;
  color: #70d7ff;
}

footer {
  margin-top: auto;
  text-align: center;
}

.mentions,
.politiques {
  font-size: 1.5rem;
}

.bienvenue {
  margin-top: 2%;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
  margin: 0;
}

h1 {
  font-size: 6rem;
  margin: 0;
  margin-left: 1%;
  color: #70d7ff;
  letter-spacing: 1.5rem;
}

li {
  list-style-type: none;
  margin: 3%;
}
