nav {
  text-align: center;
}

.bienvenue {
  margin-top: 2%;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 6rem;
}

li {
  list-style-type: none;
  margin: 3%;
}

@media screen and (max-width: 640px) {
  h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
  }

  h1 {
    text-align: center;
    font-size: 4em;
  }

  .selection {
    margin-top: 15%;
    text-align: center;
  }
}
