h1,
h2,
p {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;

  margin: 0;
}

p {
  margin-top: 3%;
  font-size: 2rem;
}

h1 {
  margin-left: 1%;
  font-size: 6.5rem;
  letter-spacing: 1.5rem;

  /* Mise en place du dégradé sur le texte "Mymo" */
  background: linear-gradient(to top, rgb(21, 181, 245), rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

footer {
  margin-top: auto;
  margin-bottom: 5%;
}

model-viewer {
  height: 30rem;
  width: 50rem;
  position: relative;
  margin: 5%;
}

@media screen and (max-width: 990px) {
  h1 {
    margin-left: 7%;
    text-align: center;
    font-size: 3.5rem;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
  }

  model-viewer {
    margin-top: 70%;
    height: 25rem;
    width: 30rem;
  }

  a {
    font-size: 2rem;
  }
}

@media screen and (min-width: 770px) and (max-width: 990px) {
  h1 {
    margin-left: 7%;
    text-align: center;
    font-size: 3.5rem;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
  }

  model-viewer {
    margin-top: 30%;
    height: 25rem;
    width: 30rem;
  }

  a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) {
  h1 {
    margin-left: 7%;
    text-align: center;
    font-size: 2.5rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  model-viewer {
    margin-top: 80%;
    height: 20rem;
    width: 18rem;
  }

  a {
    font-size: 1.5rem;
  }
}
