body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* permet d'enlver le scroll  */
  overflow-y: hidden;
}

h1,
h2,
p {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0%;
}

h2 {
  font-size: 4rem;
}

p {
  margin-top: 3%;
  font-size: 2rem;
}

h1 {
  margin-left: 1%;
  font-size: 6.3rem;
  letter-spacing: 1.5rem;
  /* Mise en place du dégradé sur le texte "Mymo" */

  background: linear-gradient(to top, rgb(21, 181, 245), rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* Permet le glow sur le text en fond (lien utile : https://cssbud.com/css-generator/css-text-glow-generator/ */
  /* text-shadow: rgba(21, 181, 245, 0.9) 0px 0px 98px; */
  filter: drop-shadow(0px 0px 98px rgba(21, 181, 245, 0.9));
}

.glow {
  /* text-shadow: rgba(21, 181, 245, 0.9) 0px 0px 66px; */
}

model-viwer {
  width: 100px;
  height: 100px;
}

footer {
  margin-top: auto;
  margin-bottom: 5%;
}
