h1,
h2,
p {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;

  margin: 0;
}

p {
  margin-top: 3%;
  font-size: 2rem;
}

h1 {
  margin-left: 1%;
  font-size: 6.5rem;
  letter-spacing: 1.5rem;

  /* Mise en place du dégradé sur le texte "Mymo" */
  background: linear-gradient(to top, rgb(21, 181, 245), rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

footer {
  margin-top: auto;
  margin-bottom: 5%;
}

model-viewer {
  height: 35rem;
  width: 50rem;
  position: relative;
  margin: 5%;
}

.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
