.formulaire {
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 50px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-radius: 30px;

  -webkit-box-shadow: 0px 0px 143px 21px rgba(21, 181, 245, 0.72);
  -moz-box-shadow: 0px 0px 143px 21px rgba(21, 181, 245, 0.72);
  box-shadow: 0px 0px 143px 21px rgba(21, 181, 245, 0.72);
}

form {
  text-align: center;
}

h1 {
  padding: 1%;
  margin-top: 1%;
  text-align: center;
  font-size: 5rem;
}

h5 {
  font-weight: lighter;
  margin: 5%;
}

label {
  margin-bottom: 2%;
}

.btn-success,
.btn-danger {
  border-radius: 30px;
  font-size: 1rem;
}

input {
  padding: 2%;
  margin: 5px;
  width: 80%;
  border-radius: 30px;
}

fieldset {
  padding: 15px;
}

/* fieldset label {
  display: inline-block;
  width: 30%;
} */

h3 {
  margin-bottom: 10%;
  font-weight: lighter;
}
