.carte {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.95);
  width: 175px;
  height: 175px;
  margin-bottom: 15%;
  border-radius: 100%;
  perspective: 1000px;

  background-color: transparent;
}

.maborder {
  /* background-color: aliceblue; */
  border: #000000 solid 1px;
  padding: 2%;
  border-radius: 40px;
  box-shadow: 0px 0px 143px 21px rgba(21, 181, 245, 0.72);
}

.carte-inner {
  /* position: relative; */
  /* transition: transform 0.6s; */
  /* OU */
  /* transition-duration: 0.6s; */
  width: 100%;
  height: 100%;
  /* transform-style: preserve-3d; */
}

/* .carte-inner.est-retournee {
  transform: rotateY(180deg);
} */

.carte-verso {
  background-color: lightblue;
  transform: rotateY(180deg);
}

.carte-recto {
  background-color: white;
  border: 2px solid #eee;
}

.carte-verso,
.carte-recto {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.circle {
  margin-top: 10%;
}

.material-symbols-outlined {
  color: #70d7ff;
  font-size: 2rem;
}

.profile-circle {
  color: white;
}
