.carte {
  width: 8rem;
  height: 8rem;
  margin-bottom: 15%;
  border-radius: 100%;
  perspective: 1000px;

  background-color: transparent;
}
.circle {
  margin: 0;
}

.maborder {
  width: 65%;
  margin: 2% auto;
  border: rgba(21, 181, 245, 1) solid 1px;
  padding: 1%;
  border-radius: 20px;
  box-shadow: 0px 0px 43px 21px hsla(197, 100%, 69%, 0.89);
}

.carte-inner {
  position: relative;
  /* transition: transform 0.6s; */
  /* OU */
  transition-duration: 0.6s;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.carte-inner.est-retournee {
  transform: rotateY(180deg);
}

.carte-verso {
  box-shadow: 0px 0px 90px rgb(6, 255, 255);
  background-color: rgb(41, 241, 255);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  color: black;
}

h4 {
  font-size: 1rem;
  text-align: center;
}

.carte-recto {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.95);

  background-color: white;
  border: 2px solid #eee;
}

.carte-verso,
.carte-recto {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.material-symbols-outlined {
  color: #70d7ff;
  font-size: 2.5rem;
}

.profile-circle {
  color: white;
}

.btn-danger {
  margin-top: 3%;
  width: 20%;
  border-radius: 30px;
  background-color: transparent;
  border: solid red 2px;
}

.est-retournee {
}

#coup,
#temps {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}

.bloque-clic {
  pointer-events: none;
}

@media screen and (max-width: 770px) {
  h1,
  h2,
  h3 {
    font-size: 2rem;
  }
  .carte {
    width: 3rem;
    height: 3rem;
    margin-bottom: 15%;
  }
  .material-symbols-outlined {
    color: #70d7ff;
    font-size: 1.5rem;
  }
  .maborder {
    margin-top: 30%;
    width: 85%;
  }
  .btn-danger {
    margin-top: 20%;
    width: 40%;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 770px) and (max-width: 990px) {
  h1,
  h2,
  h3 {
    font-size: 2rem;
  }
  .carte {
    width: 5rem;
    height: 5rem;
    margin-bottom: 15%;
  }
  .material-symbols-outlined {
    color: #70d7ff;
    font-size: 1.5rem;
  }
  .maborder {
    margin-top: 10%;
    width: 85%;
  }
  .btn-danger {
    margin-top: 10%;
    width: 40%;
    font-size: 0.9rem;
  }
}
