.carte {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.95);
  width: 8rem;
  height: 8rem;
  margin-bottom: 15%;
  border-radius: 100%;
  perspective: 1000px;

  background-color: transparent;
}
.circle {
  margin: 0;
}

.maborder {
  width: 65%;
  margin: 2% auto;
  border: rgba(21, 181, 245, 1) solid 1px;
  padding: 1%;
  border-radius: 20px;
  box-shadow: 0px 0px 43px 21px rgba(21, 181, 245, 0.72);
}

.carte-inner {
  /* position: relative; */
  /* transition: transform 0.6s; */
  /* OU */
  /* transition-duration: 0.6s; */
  width: 100%;
  height: 100%;
  /* transform-style: preserve-3d; */
}

/* .carte-inner.est-retournee {
  transform: rotateY(180deg);
} */

.carte-verso {
  background-color: lightblue;
  transform: rotateY(180deg);
}

.carte-recto {
  background-color: white;
  border: 2px solid #eee;
}

.carte-verso,
.carte-recto {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.material-symbols-outlined {
  color: #70d7ff;
  font-size: 2.5rem;
}

.profile-circle {
  color: white;
}

.btn-danger {
  margin-top: 3%;
  width: 20%;
  border-radius: 30px;
  background-color: transparent;
  border: solid red 2px;
}
