.information {
  height: 35rem;
  border: solid transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 143px 21px rgba(21, 181, 245, 0.72);
  -moz-box-shadow: 0px 0px 143px 21px rgba(21, 181, 245, 0.72);
  box-shadow: 0px 0px 143px 21px rgba(21, 181, 245, 0.72);
}

.choix {
  margin-bottom: 2rem;
  height: 16.5rem;
  border: solid transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 143px 21px rgba(21, 181, 245, 0.72);
  -moz-box-shadow: 0px 0px 143px 21px rgba(21, 181, 245, 0.72);
  box-shadow: 0px 0px 143px 21px rgba(21, 181, 245, 0.72);
}

ul {
  margin-bottom: 5%;
}

.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size {
  margin-top: 20%;
  margin-bottom: 80%;
}

.sizeInput {
  margin: 2%;
  width: 70%;
  border-radius: 20px;
}

.label1 {
  margin-top: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
