.information {
  width: 100%;
  height: 35rem;
  border: solid transparent;
  border-radius: 30px;
  box-shadow: 0px 0px 143px 21px rgba(21, 181, 245, 0.72);
}

main {
  margin-top: 1%;
}

.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size {
  margin-top: 20%;
  margin-bottom: 10%;
}

.sizeInput {
  margin: 2%;
  width: 70%;
  border-radius: 20px;
}

.btn-success {
  width: 30%;
  border-radius: 30px;
  background-color: transparent;
  border: solid rgb(0, 219, 248) 2px;
}

.btn-success:hover {
  background-color: rgb(0, 219, 248);
  color: black;
  transition: 0.3s;
}

.label1 {
  margin-top: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user,
#email,
#mdp {
  font-weight: bold;
  color: rgb(21, 181, 245);
  font-size: 1rem;
  margin-top: 20%;
  margin-bottom: 30%;
}

h5 {
  cursor: pointer;
  text-align: center;
  font-weight: lighter;
  font-size: 0.8rem;
  opacity: 0.6;
  margin: 5%;
  margin-bottom: 0;
}

h5:hover {
  opacity: 1;
  color: white;
  transition: 0.3s;
}
