/* Importation des mes deux fonts dans mon style.css (c'est mon style global de toutes mes pages)  */
@font-face {
  font-family: hubbali;
  src: url("/assets/fonts/Hubballi-Regular.ttf");
}
@font-face {
  font-family: grotesque;
  src: url("/assets/fonts/DarkerGrotesque-Light.ttf");
}

body {
  background-color: black;
  color: white;
  min-height: 100vh;
  /* Permet de mettre le footer en bas  */
  display: flex;
  flex-direction: column;
  /* permet d'enlver le scroll  */
  overflow-y: hidden;
}

h1 {
  font-family: hubbali;
  font-weight: lighter;
  text-transform: uppercase;
}

h2,
p,
a {
  font-family: grotesque;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 2rem;
}

footer {
  margin-top: auto;
}

.logo {
  text-transform: uppercase;
  color: #70d7ff;
}

.mentions,
.politiques {
  font-size: 1.5rem;
  margin-top: 1rem;
}

a:hover {
  color: #70d7ff;
}

/* ul {
  padding: 0%;
} */

.neon {
  color: #fff;
  text-shadow: 0 0 5px #71eeff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px rgb(91, 255, 255), 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.profile-circle {
  margin-top: 1%;
  font-size: 2.5rem;
}

ul {
  padding: 0%;
}

@media screen and (max-width: 640px) {
  h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
  }

  h1 {
    text-align: center;
    font-size: 4em;
  }

  .mentions {
    font-size: 1rem;
  }
  .politiques {
    font-size: 1rem;
  }
}
