/* Importation des mes deux fonts dans mon style.css (c'est mon style global de toutes mes pages)  */
@font-face {
  font-family: hubbali;
  src: url("/assets/fonts/Hubballi-Regular.ttf");
}
@font-face {
  font-family: grotesque;
  src: url("/assets/fonts/DarkerGrotesque-Light.ttf");
}

body {
  background-color: black;
  color: white;
  min-height: 100vh;
  /* Permet de mettre le footer en bas  */
  display: flex;
  flex-direction: column;
  /* permet d'enlver le scroll  */
  overflow-y: hidden;
}

h1 {
  font-family: hubbali;
  font-weight: lighter;
  text-transform: uppercase;
}

h2,
p,
a {
  font-family: grotesque;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2.5rem;
}

footer {
  margin-top: auto;
}

.logo {
  text-transform: uppercase;
  color: #70d7ff;
}

.mentions,
.politiques {
  font-size: 1.5rem;
  margin-top: 1rem;
}

a:hover {
  color: #70d7ff;
}

/* ul {
  padding: 0%;
} */
